<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        span{
            color: red;
        }
        h2{text-align: center;}
        div>img{margin-left: 120px;}
    </style>
</head>
<body>
    <div>
    <h2>Page not found : <span> Error 404</span></h2>
    <img src="https://desk.zoho.com/portal/api/uploads/edbsnb1391b6a907f0ec948695861f4c392c34603e508498538fa477e1e2f27779874/content?portalId=edbsndbc3427e2df3c1b452d999bdeb1e3dcfd01d391e1bec5453a767c8a90e865881" alt="not-found">
    </div>
</body>
</html>