<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Add New Post From Here</h2>
    <div class="outline">
    <div class="form"> 
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter your name"> <br> <br>
        <textarea name="content" placeholder="Write your post" rows="10" cols="25"></textarea> <br>
        <button>Submit</button>
    </form>
    </div>
</div>
</body>
</html>